@media all and (max-width: 1920px) {
    h1 {
        left: 1400px;
        top: 70px;
        font-size: 50px;

    }

    p {
        left: 1320px;
        top: 120px;
        font-size: 38px;
    }
    
    .galery-bg {
        height: 120vh;
    }
    
    .galery-photo img {
        height: 400px;
    }
}

@media all and (max-width: 1366px) {
    h1 {
        font-size: 42px;
        top: 15px;
        left: 950px;

    }

    p {
        font-size: 25px;
        top: 66px;
        left: 965px;
    }
    
    .galery-bg {
        height: 120vh;
    }
    
    .galery-photo img {
        height: 250px;
    }
}

@media all and (max-width: 1024px) {
    h1 {
        font-size: 42px;
        top: 100px;
        left: 700px;

    }

    p {
        font-size: 25px;
        top: 160px;
        left: 680px;
    }
    
    .galery-bg {
        height: 95vh;
    }
    
    .galery-photo img {
        height: 250px;
    }
}

@media all and (max-width: 992px) {
    h1 {
        font-size: 42px;
        top: 15px;
        left: 150px;

    }

    p {
        font-size: 25px;
        top: 66px;
        left: 965px;
    }
    
    .galery-bg {
        height: 120vh;
    }
    
    .galery-photo img {
        height: 250px;
    }
}
@media all and (max-width: 768px) {
    h1 {
        font-size: 36px;
        top: 100px;
        left: 500px;

    }

    p {
        font-size: 18px;
        top: 160px;
        left: 500px;
    }
    
    .galery-bg {
        height: 125vh;
    }
    
    .galery-photo img {
        height: 250px;
    }
}

@media all and (max-width: 480px) {
    .galery-bg {
        height: 360vh;
    }
}
